<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.{{INSTANCE_NAME_LOWER}}.{{PLIST_TYPE}}</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>{{RUN_SCRIPT_PATH}}</string>
    </array>

    <key>WorkingDirectory</key>
    <string>{{SCOUT_DIR}}</string>

    <key>StartCalendarInterval</key>
    <array>
{{SCHEDULE_ENTRIES}}
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{PATH_ENV}}</string>
        <key>HOME</key>
        <string>{{HOME_ENV}}</string>
    </dict>

    <key>StandardOutPath</key>
    <string>{{SCOUT_DIR}}/.scout-logs/launchd-{{PLIST_TYPE}}-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{SCOUT_DIR}}/.scout-logs/launchd-{{PLIST_TYPE}}-stderr.log</string>

</dict>
</plist>
