instance_name: {{INSTANCE_NAME}}
user:
  name: {{USER_NAME}}
  email: {{USER_EMAIL}}
  slack_id: {{USER_SLACK_ID}}
  github_username: {{GITHUB_USERNAME}}
connectors:
  slack: {{SLACK_ENABLED}}
  calendar: {{CALENDAR_ENABLED}}
  email: {{EMAIL_ENABLED}}
  linear: {{LINEAR_ENABLED}}
  github: {{GITHUB_ENABLED}}
  granola: {{GRANOLA_ENABLED}}
  drive: {{DRIVE_ENABLED}}
  claude_sessions: {{CLAUDE_SESSIONS_ENABLED}}
schedule:
  briefing: "{{BRIEFING_TIME}}"
  consolidation: [{{CONSOLIDATION_TIMES}}]
  dreaming: [{{DREAMING_TIMES}}]
  weekdays_only: {{WEEKDAYS_ONLY}}
platform: {{PLATFORM}}
scout_dir: {{SCOUT_DIR}}
github_repos: [{{GITHUB_REPOS}}]
